
.chat-main__group-info
  .chat-main__group-info-name
    test
    %br
  .chat-main__group-info-edit
    .chat-main__group-info-edit-font
      =link_to "#",class: "edit" do
        Edit
  .chat-main__group-info-members
    Member:Miyu


.chat-main
  .chat-main__messages
    .chat-main__messages-writer-name
      Miyu
      .chat-main__messages-writer-name-contents
        おはよう!
    .chat-main__data
      2019/12/6(Fri)10:00

  .chat-main__messages
    .chat-main__messages-writer-name
      Miyu
      .chat-main__messages-writer-name-contents
        おはよう!
    .chat-main__data
      2019/12/6(Fri)10:00


  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'
  
    

