
.chat-main__group-info
  .chat-main__group-info-name
    = @group.name
    %br
  .chat-main__group-info-edit
    .chat-main__group-info-edit-font
      =link_to edit_group_path(current_user),class: "edit" do
        Edit
  .chat-main__group-info-members
    Member:
    - @group.group_users.each do |group_user|
      = group_user.user.name

.chat-main
  .chat-main__messages
    = render @messages
  

.form
  = form_for [@group, @message] do |f|
    = f.text_field :content, class: 'form__message', placeholder: 'type a message'
    .form__mask
      = f.label :image, class: 'form__mask__image' do
        = icon('fas', 'image', class: 'icon')
        = f.file_field :image, class: 'hidden'
    = f.submit 'Send', class: 'form__submit'

    

