.side_bar
  .side_bar_user-name
    .side_bar_user-name__user
      %h3.side_bar__user-name__user-space
        = current_user.name
    .side_bar_user-name__user-icon-space
      = link_to edit_user_path(current_user) do
        %i.fas.fa-cog
      = link_to new_group_path do
        %i.fas.fa-pen
  .side_bar__group-list
    - current_user.groups.each do |group|
      .side_bar__group-list-one
        = link_to group_messages_path(group) do
          .side_bar__group-list-one-name
            = group.name
            %br
          .side_bar__group-list-one-messages
            = group.show_last_message
            %br
    
      
